<div class="container">
  <app-sidenav></app-sidenav>
  <main class="main-content">
    <div class="month-selector">
      <mat-form-field
        class="select-container"
        appearance="fill"
        style="width: 100px"
      >
        <mat-select
          [(value)]="currentMonth"
          (selectionChange)="onMonthChange($event)"
        >
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{ month.name.slice(0, 3) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h1>{{ selectedMonthName }}</h1>

      <div style="width: 100px; height: 56"></div>
    </div>

    <div [ngSwitch]="view" class="calendar-container">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="openEventDialog($event.event)"
      >
      </mwl-calendar-month-view>
    </div>
  </main>

  <mat-card appearance="outlined" class="agendaToday-container">
    <header class="agendaToday__header">
      <p>08/12/2024</p>
      <span> </span>
      <p>SEGUNDA-FEIRA</p>
    </header>

    <section class="events-list">
      <div class="divisor" *ngFor="let divisor of eventsToday"></div>
      <div class="event-container" *ngFor="let event of eventsToday">
        <h2>{{ event.tipoEvento }}</h2>

        <p>{{ event.descricao }}</p>
      </div>
    </section>
  </mat-card>
</div>
