<main class="main">
  <section class="content">
    <header class="header">
      <img src="../../../assets/logo.svg" alt="Logo" />
    </header>
    <form class="form-section">
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput placeholder="Nome completo" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cnpj</mat-label>
        <input matInput placeholder="Cnpj" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" required />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
    <footer class="footer"><p>contabix©2024</p></footer>
  </section>
  <section class="background-section"></section>
</main>
