<main class="main">
  <section class="content">
    <header class="header">
      <img src="../../../assets/logo.svg" alt="Logo" />
    </header>
    <div class="container-title-form">
      <h1 class="text-action-form">{{ textActionForm }}</h1>
      <form [formGroup]="userAuthForm" class="user-form">
        <mat-form-field class="input-form-field" *ngIf="isLogin">
          <mat-label>Usuário</mat-label>
          <input
            matInput
            placeholder="Usuário"
            required
            formControlName="usuario"
            [mask]="usuarioMask"
          />
          <mat-error *ngIf="userAuthForm.get('usuario')?.hasError('required')">
            Usuário é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!isLogin" class="input-form-field">
          <mat-label>Selecione</mat-label>
          <mat-select
            required
            formControlName="tipoUsuario"
          >
            <mat-option
              *ngFor="let option of selectOptions"
              [value]="option"
            >
              {{ option.descricao }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="userAuthForm.get('tipoUsuario')?.hasError('required')"
          >
            Selecione o tipo de usuário
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-form-field" *ngIf="!isLogin">
          <mat-label>Nome completo</mat-label>
          <input
            matInput
            placeholder="Nome completo"
            required
            formControlName="nome"
          />
          <mat-error *ngIf="userAuthForm.get('nome')?.hasError('required')">
            Nome completo é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="input-form-field"
          *ngIf="!isLogin && userAuthForm.get('tipoUsuario')?.value?.idTipoUsuario == 1"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            required
            formControlName="email"
          />
          <mat-error *ngIf="userAuthForm.get('email')?.hasError('required')">
            Email é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="input-form-field"
          *ngIf="!isLogin && userAuthForm.get('tipoUsuario')?.value?.idTipoUsuario == 2"
        >
          <mat-label>Cnpj</mat-label>
          <input matInput placeholder="Cnpj" required formControlName="cnpj" [mask]="cnpjMask"/>
          <mat-error *ngIf="userAuthForm.get('cnpj')?.hasError('required')">
            CNPJ é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-form-field">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            placeholder="Senha"
            required
            formControlName="senha"
          />
          <mat-error *ngIf="userAuthForm.get('senha')?.hasError('required')">
            Senha é obrigatória
          </mat-error>
        </mat-form-field>

        <button
          mat-button
          (click)="handleClickSubmitButton()"
          color="black"
          class="button-submit"
          [disabled]="userAuthForm.invalid"
        >
          {{ labelSubmitButton }}
        </button>
      </form>

      <button mat-button (click)="handleClickFlowChangeButton()">
        {{ labelFlowChangeButton }}
      </button>
    </div>
    <footer class="footer"><p>contabix©2024</p></footer>
  </section>
  <section class="background-section">
    <img
      src="../../../assets/background-auth.jpg"
      alt="background green triangles"
      class="image-background"
    />

    <div class="speech-bubble">
      <p>
        A comunicação ágil e clara é essencial para uma parceria de sucesso.<br />
        Estamos aqui para você!
      </p>
    </div>
  </section>
</main>
