<main
  class="main-container"
  *ngIf="render"
  [ngClass]="{ 'fade-out': fadeOut, hidden: !render }"
>
  <section class="container-left">
    <div class="container-left-top-triangles">
      <img
        src="../../../assets/triangle-plt.svg"
        alt="triangle"
        class="primary-left-top-triangle"
      />
      <img
        src="../../../assets/triangle-slt.svg"
        alt="triangle"
        class="secondary-left-top-triangle"
      />
    </div>
    <div class="container-left-down-triangles">
      <img
        src="../../../assets/triangle-plb.svg"
        alt="triangle"
        class="primary-left-bottom-triangle"
      />
    </div>
  </section>

  <section class="container-mid">
    <div class="container-text-image">
      <div class="container-logo">
        <img src="../../../assets/logo.svg" alt="Logo do sistema" />
      </div>
      <h1 class="loading-text">{{ loadingText }}</h1>
    </div>
    <h3 class="copyright-text">contabix©2024</h3>
  </section>

  <section class="container-right">
    <div class="container-right-top-triangles">
      <img
        src="../../../assets/triangle-prt.svg"
        alt="triangle"
        class="primary-right-top-triangle"
      />
      <img
        src="../../../assets/triangle-srt.svg"
        alt="triangle"
        class="secondary-right-top-triangle"
      />
    </div>
    <div class="container-right-down-triangles">
      <img
        src="../../../assets/triangle-prb.svg"
        alt="triangle"
        class="primary-right-bottom-triangle"
      />
    </div>
  </section>
</main>
