<mat-card appearance="outlined" class="container">
  <header>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="description"
    ></mat-icon>
  </header>

  <section class="list-container">
    <ul>

      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
    </ul>

    <ul>
      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
      <li>
        Arquivos.txt
        <button>abrir</button>
      </li>
    </ul>
  </section>
</mat-card>
