<div class="container">
  <app-sidenav></app-sidenav>
  <main class="main">
    <section class="main-content">
      <mat-card appearance="outlined" class="card-welcome">
        <div>
          <header>
            <p>Bem vindo!</p>
            <h2>Jonh Doe</h2>
          </header>

          <footer>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="notifications"
            ></mat-icon>

            <button mat-raised-button>Basic</button>
          </footer>
        </div>

        <div></div>
      </mat-card>
    </section>

    <app-agenda-aside></app-agenda-aside>
  </main>
</div>
