.aside {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 25%;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  -webkit-box-shadow: 9px 8px 18px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 8px 18px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 8px 18px -12px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  border-radius: 1.5rem;

  .aside_header {
    padding: 8px;
  }

  .message {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  .agenda-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 100%;

    .agenda-item {
      width: 95%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 5rem;
      gap: 1.2rem;

      .agenda-container-data {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.8rem;

        .agenda-infos {
          padding: 2px 6px;
          background-color: #c4eaac;
          border-radius: 6px;
          min-width: 70%;
          width: 70%;

          .title-agenda {
            font-size: 14px;
            color: #15803d;
            font-weight: 600;
          }

          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            max-width: 35ch;
          }
        }

        .agenda-separator {
          background-color: #000;
          width: 2px;
          height: 80%;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
        }

        .agenda-date {
          height: 76px;
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2px 6px;
          background-color: #e0f4d3;
          border-radius: 6px;

          color: #065f46;
          font-weight: 600;
        }
      }
    }

    .horizontal-separator {
      width: 100%;
      height: 1px;
    }
  }
}
