<aside class="aside">
  <header class="aside_header">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="calendar_month"
    ></mat-icon>
  </header>

  <ul class="agenda-container" *ngIf="notificationsList">
    <li class="agenda-item" *ngFor="let notification of notificationsList">
      <div class="agenda-container-data">
        <div class="agenda-infos">
          <h4 class="title-agenda">{{notification.tipoEvento}}</h4>
          <p>{{notification.descricao}}</p>
        </div>

        <span class="agenda-separator"></span>

        <div class="agenda-date">
          <span>Data</span>
          <p>{{notification.dataEvento | date : 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <mat-divider class="horizontal-separator"></mat-divider>
    </li>
  </ul>

  <h1 class="message" *ngIf="message !== null">{{message}}</h1>
</aside>
