<aside class="aside">
  <header class="aside_header">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="calendar_month"
    ></mat-icon>
  </header>

  <ul class="agenda-container">
    <li class="agenda-item">
      <div class="agenda-infos">
        <h4 class="title-agenda">Agenda 1</h4>
        <p>lorem lorem lorem lorem loren</p>
      </div>

      <div class="agenda-separator"></div>

      <div class="agenda-date">
        <span>Time</span>
        <p>11/11</p>
      </div>
    </li>

    <mat-divider class="horizontal-separator"></mat-divider>

    <li class="agenda-item">
      <div class="agenda-infos">
        <h4 class="title-agenda">Agenda 1</h4>
        <p>lorem lorem lorem lorem loren lorem lorem</p>
      </div>

      <span class="agenda-separator"></span>

      <div class="agenda-date">
        <span>Time</span>
        <p>11/11</p>
      </div>
    </li>
  </ul>
</aside>
